soap-builder/src/test/resources/wsdl/HelloWorld.wsdl

        <!--
         Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
        -->
        <!--
         Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
        -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://quickstart.ws.reficio.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://quickstart.ws.reficio.org/" name="SimpleServerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://quickstart.ws.reficio.org/" schemaLocation="http___localhost_8080_HelloWorld.xsd"/>
    </xsd:schema>
  </types>
  <message name="echo">
    <part name="parameters" element="tns:echo"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>
  <message name="getCat">
    <part name="parameters" element="tns:getCat"/>
  </message>
  <message name="getCatResponse">
    <part name="parameters" element="tns:getCatResponse"/>
  </message>
  <message name="getList">
    <part name="parameters" element="tns:getList"/>
  </message>
  <message name="getListResponse">
    <part name="parameters" element="tns:getListResponse"/>
  </message>
  <portType name="SimpleServer">
    <operation name="echo">
      <input wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/echoRequest" message="tns:echo"/>
      <output wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/echoResponse" message="tns:echoResponse"/>
    </operation>
    <operation name="getCat">
      <input wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/getCatRequest" message="tns:getCat"/>
      <output wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/getCatResponse" message="tns:getCatResponse"/>
    </operation>
    <operation name="getList">
      <input wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/getListRequest" message="tns:getList"/>
      <output wsam:Action="http://quickstart.ws.reficio.org/SimpleServer/getListResponse" message="tns:getListResponse"/>
    </operation>
  </portType>
  <binding name="SimpleServerPortBinding" type="tns:SimpleServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SimpleServerService">
    <port name="SimpleServerPort" binding="tns:SimpleServerPortBinding">
      <soap:address location="http://localhost:8080/HelloWorld"/>
    </port>
  </service>
</definitions>